.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
# using gradle eclipse to build eclipse project, so don't want eclipse meta files
.apt_generated
#.classpath
.factorypath
#.project
#.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
bin/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.class
*.jar